<form method="post" action="/login">
    <label>Username</label> 
    <input class="form-control" id="username" name="username">
    <label>Password</label> 
    <input class="form-control" id="password" name="password">
    <button id="submit_button" class="btn btn-primary" type="submit">Login</button>
</form> 
<p>Don't have an account? <a href="/register">Register</a></p>      