<header>
 <nav class="navbar navbar-expand-lg bg-body-tertiary" >
      <div class="container-fluid" style="background-color: rebeccapurple;">
        <a class="navbar-brand" href="https://www.linkedin.com/in/xavier--pe%C3%B1a/" style="color: white;">Payback</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="" style="color: white;">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" style="color: white;">Filler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" style="color: white;">Filler #2</a>
                </li>
                <li class="nav-icon">
                </li>
            </li>
          </ul>
        </div>
      </div>
      <a class="nav-icon">
        <img src=../resources/img/icon.png alt="Logo" width="30" height="40" class="d-inline-block align-text-top" style="float: right; background-color: rebeccapurple;">
        <div style="clear:both"></div>
     </a>
    </nav>
</header>