  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8" id="self-desc">
        <h2>Payback</h2>
        <p>Welcome to the friends page!</p>
      </div>
    </div>

    <!-- Friends List Section -->
    <div class="mt-4">
      <h3>Friends List</h3>

      <!-- All Friends (Alphabetically Sorted) -->
      <div id="friends-list">
        <!-- Friend 1 -->
        {{#each data}}
          <div class="friend-list-item">
          <div class="d-flex align-items-center">
            <img src="https://via.placeholder.com/40" alt="Friend Entry">
            <span>{{username}}</span>
          </div>
        </div>
        {{/each}}
        
        
    <!-- Add Friend Form -->
    <div class="mt-4">
      <h4>Add a Friend</h4>
      <form id="add-friend-form" method="POST" action="/add_friend">
        <input type="text" id="friend-name" name="friend_username" class="form-control mb-2" placeholder="Enter friend's name">
        <button type="submit" class="btn btn-primary">Add Friend</button>
      </form>
    </div>
  </div>