<h1>Register</h1>

<form method="POST" action="/register">
  <div class="mb-3">
    <label for="email" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
    <label for="email" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>Already have an account? <a href="/login">Login</a></p>

{{message}}