<!DOCTYPE html>
<html lang="en">
    <!--Bootstrap CSS-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"/>
    <style>
      body {background-color: gray;}
    </style>
  </head>
     <!--Nav Bar-->
 <body>
  {{< nav}}
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" >
      <div class="container-fluid" style="background-color: rebeccapurple;">
        <a class="navbar-brand" href="https://www.linkedin.com/in/xavier--pe%C3%B1a/" style="color: white;">Payback</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="" style="color: white;">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" style="color: white;">Filler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" style="color: white;">Filler #2</a>
                </li>
                <li class="nav-icon">
                </li>
            </li>
          </ul>
        </div>
      </div>
      <a class="nav-icon">
        <img src=../resources/img/icon.png alt="Logo" width="30" height="40" class="d-inline-block align-text-top" style="float: right; background-color: rebeccapurple;">
        <div style="clear:both"></div>
     </a>
    </nav> -->
  </body>
  <!--Main Body-->
<body>
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-4">
            <img src=../resources/img/payback_icon.png id="self-image" width="500px" class="img-fluid"> <!--NOTE TO SELF, MAKE SURE TO ADD ICON LATER IN PRCOESS-->
          </div>
          <div class="col-md-8" id="self-desc">
            <h2>Payback</h2>
            <p>This is a filler page, we plan to have the home interface here! </p>
          </div>
        </div>
      </div>
      {{<footer}}
    {{!-- <footer class="text-center mt-4" id="footer" style="background-color: white;">
        <p>Insert Footer</p>
        <a href="https://www.google.com" class="btn btn-outline-dark btn-sm" target="_blank" style="background-color: white;">Google</a>
        <a href="https://www.youtube.com" class="btn btn-outline-dark btn-sm" target="_blank" style="background-color: white;">YouTube</a>
      </footer> --}}
    </body>
</html>
